@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto Mono";
  src: url(fonts/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: "SFMono";
  src: url(fonts/SFMonoRegular.otf);
}

body {
  margin: 0;
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.5;
  color: #212529;
  font-family: "Roboto";
  margin-bottom: 100px;
}

header {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
  font-size: 0.8;
  text-align: center;
}

body > h1 {
  font-size: 1.5;
  text-align: left;
  padding: 6px 10px;
}

body > h2 {
  font-size: 1;
  text-align: left;
  padding: 6px 10px;
}

.conspect {
  text-align: center;
}

.mainname {
  text-align: center;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  width: 1640px;
  height: 1180px;
  /*  Блоки размещены в 3 колонки; */
  column-count: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

img {
  position: relative;
  top: 10px;
}

article.html {
  font-family: "Monsterrat";
  font-size: 1;
  background-image: repeating-linear-gradient(
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  border-radius: 24px;
  height: 580px;
  width: 530px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.js {
  font-family: "Monsterrat";
  font-size: 1;
  background-image: repeating-linear-gradient(
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  border-radius: 24px;
  height: 580px;
  width: 530px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.css {
  font-family: "Monsterrat";
  font-size: 1;
  background-image: repeating-linear-gradient(
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  border-radius: 24px;
  height: 580px;
  width: 530px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.linux {
  font-family: "Monsterrat";
  font-size: 1;
  background-image: repeating-linear-gradient(
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  border-radius: 24px;
  height: 580px;
  width: 530px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.github {
  font-family: "Monsterrat";
  font-size: 1;
  background-image: repeating-linear-gradient(
    rgba(103, 0, 31, 0.8),
    rgba(34, 101, 163, 0.5)
  );
  border-radius: 24px;
  height: 580px;
  width: 530px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.html a:hover {
  color: rgb(71, 70, 70);
}

article.html:hover {
  box-shadow: 0px -5px 10px 0px rgb(146, 146, 146);
}

article.css a:hover {
  color: rgb(71, 70, 70);
}

article.css:hover {
  box-shadow: 0px -5px 10px 0px rgb(146, 146, 146);
}

article.js a:hover {
  color: rgb(71, 70, 70);
}

article.js:hover {
  box-shadow: 0px -5px 10px 0px rgb(146, 146, 146);
}

article.github a:hover {
  color: rgb(71, 70, 70);
}

article.github:hover {
  box-shadow: 0px -5px 10px 0px rgb(146, 146, 146);
}

article.linux a:hover {
  color: rgb(71, 70, 70);
}

article.linux:hover {
  box-shadow: 0px -5px 10px 0px rgb(146, 146, 146);
}

p {
  font-weight: normal;
  inline-size: 1.7;
}

button {
  background-color: rgb(228, 180, 200);
  font-size: 25px;
  border: 2px solid #99e0eb;
  border-radius: 0 25px 25px 0;
  text-align: center;
  margin-top: 15px;
}
button:hover {
  background-color: rgb(226, 128, 169);
}

section {
  margin: 16px 0;
  background-image: linear-gradient(to top left, powderblue, pink);
}

ol.list {
  list-style: none;
  counter-reset: li;
}
li.quest:before {
  counter-increment: li;
  content: counters(li, ".") ".";
}

li {
  line-height: 35px;
}

.command {
  color: #24292e;
}

.argument {
  color: #07e4e4;
}

.comment {
  color: #c9c9a5;
}

span {
  background-color: #6d757d;
  padding: 16px;
  margin: 0 0 16px 0;
  font-family: "SFMono";
  font-size: 0.85em;
}

.f_word {
  background-color: #a3c9f5;
  padding: 11px;
  font-size: 18px;
}

h2.howtoo {
  display: flex;
  position: relative;
  left: 150px;
  background-color: #93e9ff;
}

footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333333d0;
  color: #fff;
  font-size: 0.7em;
  text-align: right;
}
