@font-face {
    font-family: "Montserrat";
    src: url(/fonts/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Mono";
    src: url(/fonts/static/RobotoMono-Regular.ttf);

}
@font-face {
    font-family: "SFMono";
    src: url(/fonts/SFMonoRegular.otf);
}

body {
margin: 0;
font-size: 18px;
font-weight: 400px;
line-height: 1.5;
color: #212529;
}

header {
font-family: "Roboto";
src: url(/fonts/Roboto-Regular.ttf);
font-size: 0.8;
text-align: center;
}

body > h1 {
    font-size: 1.5;
    text-align: left;
    padding: 6px 10px;
}

body > h2 {
    font-size: 1;
    text-align: left;
    padding: 6px 10px;
}

.conspect {
text-align: center;
}

.mainname {
    text-align: center;
}


a {
    text-decoration: none;
}
main {
    height: 1640px;
    width: 1180px;
    /*  Блоки размещены в 3 колонки; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
   

div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 5px 5px;
    justify-content: space-around;
    font-family: "Roboto";
    src: url(/fonts/Roboto-Regular.ttf);
    font-size: 1;
    background:linear-gradient(green, blue, red, orange);
    border-radius: 24px;
    box-shadow: #020407;
    height: 580px;
    width: calc((100% / 3) - 20px);
}





footer a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #FFF; 
    font-size: 0.7em;
    text-align: right;
}
